# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
.venv/
env/
ENV/

# Django
db.sqlite3
db.sqlite3-journal
staticfiles/
media/
!seed_media/
!seed_media/**

# Секреты
.env
*.pem

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
desktop.ini

# Логи
*.log
